:root {
    --primary-color: #121417;
    --secondary-color: #ffffff4d;
    --background-color: #1c1e21;
    --background-hover-color: #ffffffcc;
    --btn-background-color: #37aa9dcc;
    --btn-background-hover-color: #37aa9d;
    --menus-active-background-color: #37aa9d1a;
    --border-radius: 8px;
    --rk-translate-x: 0;
    --rk-translate-y: 0;
    --rk-rotate: 90deg;
    --rk-skew-x: 0;
    --rk-skew-y: 0;
    --rk-scale-x: 1;
    --rk-scale-y: 1;
    --fonts-body: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
body{    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonts-body);
}
p,h1,h2,h3,h4,h5 {
   margin: 0px;
}
h2,h4,h5{
    color: #fff;
}
p{
    color: var(--secondary-color);
    font-size: 12px;
}
.rk-vapi-container{
    background-color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    gap: 50px;
    padding: 18px;
    overflow-x: hidden; 
}
/* Center Align Content */
.rk-vapi-container .center-align{
    display: flex;
    align-items: center;
    justify-content: center;
}
.rk-vapi-container .center-align .center-align-top{
    max-width: 330px;
}
.rk-vapi-container .center-align .disabled-btn{
    pointer-events: none; 
    opacity: 0.5;
}
.rk-vapi-container .center-align .center-align-top > svg{
    height: 80px;
    width: 80px;
    fill: var(--secondary-color);
}
.rk-vapi-container .center-align p{
    font-size: 16px;
    margin-bottom: 15px;
}
.rk-vapi-container .center-align .rk-vapi-assistant-buttons{
    padding: 0!important;
    border-bottom: none!important;
}
.rk-vapi-container .center-align  .card-details{
    display: inline-flex;
    align-items: center;
    gap: 5px;
    background: #3b82f61a;
    padding: 8px 12px;
    border: 1px solid #3b82f64d;
    border-radius: var(--border-radius);
    margin-top: 10px;
}
.rk-vapi-container .center-align  .card-details svg{
    fill: #facc15;
    width: 12px;
    height: 12px;
}
.rk-vapi-container .center-align  .card-details span{
    color: #93c5fd;
    font-size: 12px;
}
.rk-vapi-container .center-align  .card-details a{
    color: #3B82F6;
    text-decoration: none;
    font-style: italic;
}
/* Drag & Drop Box */
.drag-drop-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 150px;
    border: 2px dashed #888;
    border-radius: 10px;
    background-color: #333;
    color: #ccc;
    text-align: center;
    position: relative;
    margin-bottom: 10px;
    flex-direction: column;
    padding: 16px;
}
.drag-drop-box:hover {
    border-color: #ccc;
}
.drag-drop-box svg{
    height: 48px;
    width: 48px;
    fill: var(--secondary-color);
}
.upload-message {
    pointer-events: none;
}
.file-input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
/* Common Button */
.common-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px 16px;
    background-color: var(--btn-background-color);
    border-radius: var(--border-radius);
    color: #fff;
    border-color: transparent;
    cursor: pointer;
    text-wrap: nowrap;
} 
.common-btn:hover{
    background-color: var(--btn-background-hover-color);
} 
.common-btn svg{
    fill: #ffffff80;
} 
/* Left Section CSS */
.rk-vapi-container .rk-vapi-left{
    width: 250px;
}
.rk-vapi-container .rk-vapi-left a{
    text-decoration: none;
}
.rk-vapi-container .rk-vapi-left .rk-vapi-menus-common,
.rk-vapi-container .rk-vapi-left .rk-vapi-menus-left,
.rk-vapi-container .rk-vapi-left .rk-vapi-submenu-inner{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    width: 100%;
    transition: all 100ms ease-in-out;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: var(--border-radius);
    margin: 0 0 4px;
    position: relative;
    z-index: 1;
}
.rk-vapi-container .rk-vapi-left .rk-vapi-menus-container,
.rk-vapi-container .rk-vapi-left .rk-vapi-submenu-container,
.rk-vapi-container .rk-vapi-left .rk-vapi-menus-submenu{
    position: relative;
}
.rk-vapi-container .rk-vapi-left .rk-vapi-submenu-container .rk-vapi-submenu-border{
    position: absolute;
    left: 18px;
    top: -5px;
    bottom: 28px;
    width: 16px;
    border-left: 2px solid #313135;
    height: 100%;
    z-index: 0;
}
.rk-vapi-container .rk-vapi-left .rk-vapi-menus,
.rk-vapi-container .rk-vapi-left .rk-vapi-menus-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rk-vapi-container .rk-vapi-left .rk-vapi-submenu{
    padding-left: 32px;
    position: relative;
}
.rk-vapi-container .rk-vapi-left .rk-vapi-submenu .rk-vapi-inner-border{
    position: absolute;
    top:7px;
    left: 18px;
    height: 12px;
    width: 12px;
    border-left: 2px solid #313135;
    border-bottom: 2px solid #313135;
    border-bottom-left-radius: 9999px;
    z-index: 0;
}
.rk-vapi-container .rk-vapi-left .rk-vapi-menus-common:hover,
.rk-vapi-container .rk-vapi-left .rk-vapi-submenu-inner:hover,
.rk-vapi-container .rk-vapi-left .rk-vapi-menus-common.active,
.rk-vapi-container .rk-vapi-left .rk-vapi-submenu-inner.active{
    background-color: #1c1e2180;
    border: 1px solid #31313580;
}
.rk-vapi-container .rk-vapi-left .rk-vapi-menus-common svg,
.rk-vapi-container .rk-vapi-left .rk-vapi-menus-left svg,
.rk-vapi-container .rk-vapi-left .rk-vapi-submenu-inner svg{
    fill: var(--secondary-color);
    background-color: var(--background-color);
    padding: 4px;
    border-radius: calc(var(--border-radius) - 5px);
    height: 14px;
    width: 14px;
}
.rk-vapi-container .rk-vapi-left .rk-vapi-menus-right svg{
    fill: #ffffff;
    height: 11px;
    width: 11px;
}
.rk-vapi-container .rk-vapi-left .rk-vapi-menus-common p,
.rk-vapi-container .rk-vapi-left .rk-vapi-menus-left p,
.rk-vapi-container .rk-vapi-left .rk-vapi-submenu-container p{
    font-size: 14px;
}
.rk-vapi-container .rk-vapi-left .rk-vapi-menus-common:hover svg,
.rk-vapi-container .rk-vapi-left .rk-vapi-menus-common.active svg{
    fill: var(--background-hover-color);
}
.rk-vapi-container .rk-vapi-left .rk-vapi-menus-common:hover p,
.rk-vapi-container .rk-vapi-left .rk-vapi-menus-common.active p{
    color: var(--background-hover-color);
}
/* Tab Asistant */
.hidden {
    display: none;
}

/* Overview Page */
.rk-vapi-container .rk-vapi-right-first{
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 10px;
    background-color:var(--background-color);
    border-radius: 8px 8px 0 0;
}
.rk-vapi-container .rk-vapi-right-first svg{
    height: 20px;
    width: 20px;
    fill: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 4px;
    border-radius: var(--border-radius);
}
.rk-vapi-container .stat-card-container{
    display: flex;
    gap: 10px;
    padding: 16px;
}
.rk-vapi-container .stat-card{
    position: relative;
    flex-basis: 25%;
    overflow: hidden;
    background-color: #1c1e21;
    border-radius: 10px;
}
.rk-vapi-container .stat-card svg{
    position: absolute;
    left: -5px;
    bottom: -5px;
    opacity: 0.15;
    width: 390px!important;
    height: 140px!important;
}
.rk-vapi-container .stat-card-bottom{
    padding: 20px;
}
.rk-vapi-container .stat-card-bottom h3{
    font-size: 18px;
    margin: 0!important;
    color: #ffffff80;
    font-weight: bold;
}
.rk-vapi-container .stat-card-bottom .stat-value{
    font-size: 48px;
    line-height: 1;
    font-weight: bold;
    color: #fff;
}
.rk-vapi-container .stat-card-bottom .stat-change{
    color: #f87171;
    margin-top: 10px;
}
.rk-vapi-container .stat-card-bottom .stat-change-another{
    color: #35968c;
    margin-top: 10px;
}
.rk-vapi-container .overview-right{
    display: flex;
    flex-direction: column;
}
.rk-vapi-container .chart-containers{
    display: flex; 
    gap: 20px;
    width: 60%;
}
.rk-vapi-container .chart-containers .chart-container{
    flex-basis: 50%;
    background-color: var(--background-color);
    padding: 30px;
    border-radius: var(--border-radius)
}
.rk-vapi-container .chart-containers .chart-container-inner{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    margin-top: 20px;
}
.rk-vapi-container .rk-overview-bottom{
    display: flex;
    gap: 20px;
    padding: 16px;
}
.rk-vapi-container .overview-table{
    padding: 0!important;
}
.rk-vapi-container .overview-table th{
    color: #fff;
}
.rk-vapi-container .overview-table td{
    color: var(--secondary-color);
}
/* Assistant */
.rk-vapi-container .rk-vapi-right{
    width: 90%;
    border: 1px solid var(--background-color);
    border-radius: var(--border-radius);
    display: flex;
}
.rk-vapi-container .rk-vapi-right .rk-vapi-assistant-left{
    width: 360px;
    border-right: 1px solid var(--background-color);
}
.rk-vapi-container .rk-vapi-right .rk-vapi-assistant-right{
    flex-grow: 1;
}
.rk-vapi-container .rk-vapi-right .rk-vapi-assistant-buttons{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 18px;
    border-bottom: 1px solid var(--background-color)
}
.rk-vapi-container .rk-vapi-right .rk-vapi-assistant-buttons button:hover svg,
.rk-vapi-container .assistant-bottom .blank-template:hover svg{
    --tw-rotate: 90deg;
    transform: translate(var(--rk-translate-x), var(--rk-translate-y)) rotate(var(--rk-rotate)) skew(var(--rk-skew-x)) skewY(var(--rk-skew-y)) scaleX(var(--rk-scale-x)) scaleY(var(--rk-scale-y));
    transition: all 0.15s ease-in-out;
} 
.rk-vapi-container .rk-vapi-right .rk-vapi-assistant-buttons span,
.rk-vapi-container .rk-assistant-details-right span{
    color: #ffffff;
}
.rk-vapi-container .rk-vapi-right .rk-vapi-assistant-buttons a{
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #ffffff4d;
    border: 1px solid var(--background-color);
    border-radius: 11px;
    font-weight: 600;
}
.rk-vapi-container .rk-vapi-right .rk-vapi-assistant-menu{
    padding: 18px;
}
.rk-vapi-container .rk-vapi-right .rk-vapi-assistant-menu ul{
    list-style-type: none;
    padding: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.rk-vapi-container .rk-vapi-right .rk-vapi-assistant-menu ul li a{
    color: #ffffff;
    padding: 8px;
    border-radius: var(--border-radius);
    cursor: pointer;
    text-decoration: none;
    display: block;
}
.rk-vapi-container .rk-vapi-right .rk-vapi-assistant-menu ul li:hover a,
.rk-vapi-container .rk-vapi-right .rk-vapi-assistant-menu ul li.active a {
    background-color: var(--menus-active-background-color);
}
/* Assistant Details Card */
.rk-vapi-container .rk-assistant-details-card{
    padding: 16px;
    border-bottom: 1px solid var(--background-color);
}
.rk-vapi-container .rk-assistant-details-card h2{
    color: #ffffff;
}
.rk-vapi-container .rk-assistant-details-card .rk-assistant-details-inner{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.rk-vapi-container .rk-assistant-details-inner .rk-assistant-details-right{
    display: flex;
    align-items: center;
    gap: 10px;
}
.rk-vapi-container .rk-assistant-details-right > svg{
    transform: rotate(var(--rk-rotate));
    padding: 20px 10px;
    border: 1px solid var(--background-color); 
    border-radius: var(--border-radius);
    fill:var(--secondary-color);
}
.rk-vapi-container .rk-vapi-assistant-right .rk-assistant-id-text{
    width: 220px;
}
.rk-vapi-container .rk-vapi-assistant-right .rk-assistant-id-text span{
    color: var(--secondary-color);
    text-wrap: nowrap;
    overflow: hidden;
    max-width: 70%;
    font-size: 12px;
}
.rk-vapi-container .rk-vapi-assistant-right .rk-assistant-id-text{
    display: flex;
    align-items: center;
    gap: 5px;
}
.rk-vapi-container .rk-vapi-assistant-right .rk-assistant-id-text svg{
    fill: var(--secondary-color);
    width: 14px;
    height: 14px;
    background-color: var(--background-color);
    padding: 4px;
    border-radius: var(--border-radius);
}
.rk-vapi-container .rk-vapi-assistant-right .rk-assistant-copy-id{
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Assistant Options */
.rk-vapi-container .rk-assistant-details-options{
    padding: 16px 0px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.rk-vapi-container .rk-assistant-options-left ul{
    padding: 0 20px;
    display: flex;
    gap: 30px;
}
.rk-vapi-container .rk-assistant-details-options ul li{
    color: #ffffff;
    font-size: 12px;
}
.rk-vapi-container .rk-assistant-options-left ul li:first-child::marker{
    color: rgb(93, 254, 202);
}
.rk-vapi-container .rk-assistant-options-left ul li:nth-child(2)::marker{
    color: rgb(219, 39, 119);;
}
.rk-vapi-container .rk-assistant-options-left ul li:nth-child(3)::marker{
    color: rgb(14, 165, 233);
}
.rk-vapi-container .rk-assistant-options-left ul li:nth-child(4)::marker{
    color: rgb(252, 211, 77);
}
.rk-vapi-container .rk-assistant-options-left ul li:last-child::marker{
    color: rgb(192, 38, 211);
}
.rk-vapi-container .rk-assistant-details-options ul li::marker{
    font-size: 16px;
}
.rk-vapi-container .rk-assistant-details-options .rk-assistant-options-right,
.rk-vapi-container .rk-assistant-details-options .rk-assistant-options-mode{
    display: flex;
    align-items: center;
    gap: 10px;
}
.rk-vapi-container .rk-assistant-details-options .rk-assistant-options-mode{
    border: 1px solid var(--secondary-color);
    padding: 10px;
    margin: 0;
    border-radius: var(--border-radius);
}
.rk-vapi-container .rk-assistant-details-options .rk-assistant-options-right h5,
.rk-vapi-container .rk-assistant-details-options .rk-assistant-options-right span{
    margin: 0;
    color: var(--secondary-color);
}
.rk-vapi-container .rk-assistant-details-options .rk-assistant-options-right svg{
    fill: var(--secondary-color);
}
/* Create Assistant Modal Styling */
.rk-vapi-container .modal-another {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    max-width: 600px;
    margin: 16px;
    height: auto;
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    border-radius: var(--border-radius);
}
.rk-vapi-container .assistant-top{
    display: flex;
    align-items: center; 
    gap: 8px;
    padding: 16px;
    background-color: var(--background-color);
    border-radius: 11px 11px 0 0;
}
.rk-vapi-container .assistant-top svg,
.rk-vapi-container .quickstart svg{
    height: 24px;
    width: 24px;
    fill: var(--secondary-color);
} 
.rk-vapi-container .assistant-top .svg-icon{
    padding: 4px;
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    line-height: 1;
}
.rk-vapi-container .assistant-top h2{
    margin: 0px;
    font-size: 20px;
}
.rk-vapi-container h3,
.rk-vapi-container .assistant-bottom .assistantName{
    color: #fff;
    margin: 0 0 10px;
}
.rk-vapi-container .assistant-bottom{
    padding: 16px;
}
.rk-vapi-container .assistant-bottom .form-group{
    margin-top: 20px;
}
.rk-vapi-container .assistant-bottom #assistantName{
    width: 100%;
    padding: 8px 16px;
    box-sizing: border-box;
    background: var(--background-color);
    border: 1px solid var(--secondary-color);
    border-radius: var(--border-radius);
    margin-top: 6px;
}
.rk-vapi-container .assistant-bottom .blank-template{
    display: flex;
    align-items: flex-start;
    border: 1px solid var(--btn-background-color);
    border-radius: var(--border-radius);
    padding: 12px;
    gap: 16px;
    margin-top: 30px;
}
.rk-vapi-container .assistant-bottom .blank-template svg{
    height: 32px;
    width: 32px;
    fill: var(--secondary-color);
}
.rk-vapi-container .assistant-bottom .blank-template p,
.rk-vapi-container .quickstart p{
    font-size: 12px;
    margin-top: 5px;
}
.rk-vapi-container .quickstart{
    position: relative;
}
.rk-vapi-container .quickstart-inner{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 16px;
    border: 1px solid #4b5563;
    border-radius: var(--border-radius);
    margin-top: 30px;
}
.rk-vapi-container .quickstart-inner .quickstart-card{
    flex-basis: calc(50% - 32px);
    padding: 12px;
    border: 1px solid var(--secondary-color);
    border-radius: var(--border-radius);
}
.rk-vapi-container .modal-footer{
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 16px;
}
.rk-vapi-container .modal-footer #closeModalButton{
    border-radius: var(--border-radius);
    background: transparent;
    padding: 8px 16px;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
}
/* Modal container hidden by default */
.modal {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--btn-background-color);
    border: 1px solid var(--btn-background-hover-color);
    z-index: 1000;
    padding: 15px;
    box-shadow: 0px 4px 8px var(--primary-color);
    border-radius: 5px;
    width: 250px;
  }
  /* Modal content */
  .modal-content {
    position: relative;
    color: #ffffff;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
  }
  .close-icon {
    cursor: pointer;
    color: var(--primary-color);
  }
  /* Dropdown Menus */
.open {
    display: block;
}
.hidden,.invisible {
    display: none;
}
.dropdown-container, .dropdown-container-two{
    position: relative;
}
#dropdown{
    width: 100%;
    background-color: var(--primary-color);
    top: 45px;
}
#dropdownMenu,.dropdown-menu,.dropdown-menu-two{
    min-width: 150px;
    position: absolute;
    right: 0;
    z-index: 1000;
    border-radius: var(--border-radius);
    background-color: var(--background-color);
    border: 1px solid var(--background-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#dropdownMenu{
    top: 55px;
}
.dropdown-menu,
.dropdown-menu-two{
    top: 50px;
}
.dropdown-container .dropdown-toggle,
.dropdown-container-two .dropdown-toggle-two,
.rk-vapi-container .additional-configuration-inner-right input[type="number"]{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    margin-top: 20px;
    background-color: #27272a;
    padding: 6px 12px;
    border-radius: var(--border-radius);
    width: 100%;
    box-sizing: border-box;
}
.dropdown-container .dropdown-toggle span,
.dropdown-container-two .dropdown-toggle-two span{
    color: #fff;
}
.dropdown-container .dropdown-toggle svg,
.dropdown-container-two .dropdown-toggle-two svg
{
    fill: #fff;
    height: 12px;
    width: 12px;
}
#dropdownMenu ul,
.dropdown-menu ul,
.dropdown-menu-two ul{
    list-style-type: none;
    margin: 0;
    padding: 10px;
}
#dropdownMenu ul li,
.dropdown-menu ul li,
.dropdown-menu-two ul li{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 6px 12px;
    font-size: 14px;
    border-radius:var(--border-radius);
    border: 1px solid transparent;
    cursor: pointer;
    color: #fff;
}
.dropdown-menu-two ul li{
    width: 100%!important;
    padding-left: 40px;
}
.dropdown-menu li.active,
.dropdown-menu-two li.active{
    font-weight: bold;
    position: relative;
}
.dropdown-menu li.active::after{
    content: '✔';
    position: absolute;
    right: 10px;
    color: #fff;
}
.dropdown-menu-two li.active::after{
    content: '✔';
    position: absolute;
    left: 10px;
    color: #fff;
}
#dropdownMenu ul li:hover,
.dropdown-menu ul li:hover{
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
}
#dropdownMenu ul li svg,
.dropdown-menu svg,
.dropdown-menu-two ul li{
    height: 14px;
    width: 14px;
    fill: var(--secondary-color);
}
/* Latency */
.rk-vapi-container .rk-assistant-details-latency{
    background-color: var(--background-color);
    padding: 12px;
    border-radius: var(--border-radius);
}
.rk-vapi-container .rk-assistant-latency-inner{
    display: flex;
    justify-content: space-between;
}
.rk-vapi-container .rk-assistant-latency-inner .rk-assistant-latency-left{
    display: flex;
    align-items: center;
    gap: 10px;
}
.rk-vapi-container .rk-assistant-latency-inner svg:first-child{
    fill: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 6px;
    border-radius: var(--border-radius);
}
.rk-vapi-container .rk-assistant-latency-inner .tooltip-svg{
    fill: #fde047!important;
    background-color: unset!important;
}
.rk-vapi-container .rk-assistant-latency-inner h4{
    color: var(--btn-background-color);
    margin: 0;
    line-height: 2;
}
.rk-vapi-container .rk-assistant-latency-inner .rk-assistant-latency-right {
    background:var(--primary-color);
    border: 1px solid var(--secondary-color);
    padding: 6px 12px;
    border-radius: var(--border-radius);
}
.rk-vapi-container .rk-assistant-latency-inner .rk-assistant-latency-right span{
    color: var(--secondary-color);
}

/* Tooltip Text */
.tooltip-container {
    position: relative;
    display: inline-block; 
}
.tooltip-text {
    visibility: hidden;
    width: 250px;
    background-color: var(--primary-color);
    color: #fff;
    padding: 5px 8px;
    font-size: 12px;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    bottom: -15px;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* Latency Pickers */
.rk-assistant-latency-pickers {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.latency-bar {
    position: relative !important;
    height: 13px; 
    transition: height 0.5s ease, background-color 0.5s ease;
}
.tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease; 
    white-space: nowrap;
}
.latency-bar:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 10px);
}
.latency-bar:hover {
    height: 18px!important;
}
/* Assistant Tablist */
.rk-vapi-container .assistant-tablist{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rk-vapi-container .assistant-tablist-inner svg{
    height: 14px;
    width: 14px;
    fill:var(--secondary-color);
}
.rk-vapi-container .assistant-tablist .assistant-tablist-inner button{
    background: transparent;
    border: 1px solid transparent;
}
.rk-vapi-container .assistant-tab-content{
    padding: 16px;
}
.rk-vapi-container .assistant-tablist-inner{
    display: flex;
    border: 1px solid var(--background-color);
    border-radius: var(--border-radius);
    padding: 6px;
    gap: 10px;
}
.rk-vapi-container .assistant-tablist-inner span{
    color: #ffffff;
} 
.rk-vapi-container .assistant-tablist-inner button{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 12px;
}
.rk-vapi-container .assistant-tablist .tab-button{
    padding: 10px;
    cursor: pointer;
  }
.rk-vapi-container .assistant-tablist .tab-content {
    margin-top: 20px;
    display: none;
  }
.rk-vapi-container .assistant-tablist .assistant-publish-discard-box svg{
    height: 16px;
    width: 16px;
    fill: var(--secondary-color);
}
.rk-vapi-container .assistant-tablist .assistant-publish-discard-box{
    display: flex;
    gap: 8px;
}
.rk-vapi-container .assistant-tablist .assistant-publish-discard-box button:last-child{
    background: var(--background-color);
    border: none;
    padding: 0px 10px;
    border-radius: var(--border-radius);
}
.rk-vapi-container .tabs-content{
    padding-top: 30px;
}
.common-style{
    border: 1px solid var(--background-color);
    border-radius: var(--border-radius);
}
.rk-vapi-container .tabs-content #tab1,
.rk-vapi-container .voice-configuration{
    padding: 16px;
}
.rk-vapi-container .tabs-content #tab1 .tab-content-inner{
    background-image: url("https://dashboard.vapi.ai/images/square-dots.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    background-color: #1c1e21;
    border-radius: var(--border-radius);
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.rk-vapi-container #tab1 .tab-content-inner .tab-content-left{
    padding: 32px;
    flex-basis: 80%;
    max-width: 600px;
}
.rk-vapi-container #tab1 .tab-content-inner .tab-content-left > p{
    color: #fff;
    margin-top: 20px;
}
.rk-vapi-container .tab-content-text p{
    color: #ffe082;
}
.rk-vapi-container .tab-content-text{
    background-color: #eab3081a;
    padding: 16px;
    border: 1px solid #eab30833;
    border-radius: var(--border-radius);
    margin: 20px 0;
}
.rk-vapi-container #tab1 .tab-content-inner .tab-content-right{
    padding: 32px 16px;
    flex-basis: 20%;
}
.rk-vapi-container #tab1 .tab-content-left .tab-content-blocks,
.rk-vapi-container #tab1 .tab-content-inner .tab-content-left .tab-content-feedback{
    display: flex;
    align-items: center;
    gap: 8px;
}
.rk-vapi-container #tab1 .tab-content-inner .tab-content-left .tab-content-feedback{
    margin: 20px 0;
}
.rk-vapi-container #tab1 .tab-content-inner .tab-content-left .tab-content-feedback svg,
.rk-vapi-container #tab1 .tab-content-inner .tab-content-left .tab-content-feedback p:first-child{
    fill: var(--btn-background-color);
    color: var(--btn-background-color);
}
.rk-vapi-container #tab1 .tab-content-left .tab-content-blocks svg{
    fill: #fff;
}
.rk-vapi-container #tab5 .additional-configuration{
    margin-top: 0!important;
}
.rk-vapi-container .tabs-content #tab1 > p{
    font-size: 14px;
}
.rk-vapi-container .tab-button.active,
.rk-vapi-container .tab-button:hover{
    border: 1px solid var(--background-color)!important;
    border-radius: var(--border-radius);
    background-color: var(--background-color)!important;
}
.rk-vapi-container .tab-content .transriber-inner,
.rk-vapi-container .tab-content .additional-configuration-inner{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 20px 0px;
}
.rk-vapi-container .tab-content .additional-configuration-inner-left,
.rk-vapi-container .tab-content .transriber-inner-left,
.rk-vapi-container .tab-content .additional-configuration-inner-right,
.rk-vapi-container .tab-content .transriber-inner-right{
    width: 50%;
}
.rk-vapi-container .tab-content .transriber-top{
    border-bottom: 1px solid var(--background-color);
    padding: 16px;
}
.rk-vapi-container .tab-content .transcriber-bottom{
    padding: 16px;
}
.rk-vapi-container .tab-content .voice-configuration-info{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 2px;
}
.rk-vapi-container .tab-content .voice-configuration-info svg{
    height: 12px;
    width: 12px;
    fill: #ca8a04;
}
.rk-vapi-container .tab-content .voice-configuration-info p{
    color:#ca8a04
}
.rk-vapi-container .tab-content .voice-configuration .checkbox{
    color: #fff;
}

/* Additional Configuration */
.rk-vapi-container .tab-content .additional-configuration{
    margin-top: 50px;
}
.rk-vapi-container .additional-configuration-top,
.rk-vapi-container .filler-injection,
.rk-vapi-container .emotion{
    padding: 16px;
}
.rk-vapi-container .additional-configuration-inner,
.rk-vapi-container .tab-content .additional-configuration .punctuation-boundaries{
    padding: 16px;
    border-top: 1px solid var(--background-color);
}
/* Toggle Button */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #374151b3;
    transition: 0.4s;
    border-radius: 34px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: #37aa9d;
}
input:checked + .slider:before {
    transform: translateX(18px);
}
.slider.round {
    border-radius: 34px;
}
.rk-vapi-container .filler-injection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--background-color);
}
.rk-vapi-container .filler-injection .filler-injection-left{
    display: flex;
    align-items: center;
    gap: 10px;
}
.rk-vapi-container .filler-injection-left svg{
    fill: var(--secondary-color);
}

/* Range Slider */
.slider-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}
#slider-value {
    color: #49bab8;
    margin-right: 10px;
    font-weight: bold;
}
.range-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    background: #293536;
    outline: none;
    opacity: 0.9;
    transition: opacity .15s ease-in-out;
}
.range-slider:hover {
    opacity: 1;
}
.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #49bab8;
    border-radius: 50%;
    cursor: pointer;
}
.range-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #49bab8;
    border-radius: 50%;
    cursor: pointer;
}
.labels {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
}
.labels span:first-child {
    color: #ccc;
}
.labels span:last-child {
    color: #ccc;
}
.rk-vapi-container .slider-range{
    display: flex;
    justify-content: space-between;
    padding: 16px;
}
.rk-vapi-container .slider-range .slider-range-right{
    width: 80%;
}
/* Calls Table */
.rk-vapi-container .table-container {
    width: 100%;
    color: var(--secondary-color);
}
.rk-vapi-container .table-content-inner{
    padding: 16px;
}
.rk-vapi-container .search-container {
    margin-bottom: 20px;
}
.rk-vapi-container #searchBox {
    width: 300px;
    padding: 10px;
    border-radius: var(--border-radius);
    border: none;
    background-color: var(--background-color);
    outline: none;
}
.rk-vapi-container .api-logs {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--background-color);
    border: 1px solid #444;
    border-radius: var(--border-radius);
    overflow: hidden;
}
.rk-vapi-container .api-logs th, .rk-vapi-container .api-logs td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #444;
}
.rk-vapi-container .api-logs th {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.rk-vapi-container .api-logs tbody tr:hover {
    background-color: #3a3a3a;
}
.rk-vapi-container .method {
    display: inline-block;
    padding: 2px 20px;
    border-radius: 100px;
    font-weight: bold;
    font-size: 12px;
}
.rk-vapi-container .method.get {
    background-color: #3182ce;
    color: #fff;
}
.rk-vapi-container .method.post {
    background-color: #2f855a;
    color: #fff;
}
.rk-vapi-container .status-code {
    display: inline-block;
    padding: 2px 8px;
    border-radius: 100px;
    font-weight: bold;
    font-size: 12px;
}
.rk-vapi-container .status-code.success {
    background-color: #28a745;
    color: #fff;
}
#myChart {
            max-width: 400px;
            max-height: 400px;
        }


  
  
  
